.main{
    padding: 0 50px;
}
.layout{ 
    padding: 24px 0;
    background: #fff 
}
.content{ 
    padding: 0 34px;
    min-height: 280px;
}
.footer{ 
    text-align: center 
}
.menu{ 
    line-height: 64px
}
@media(max-width:546px){
    .main{
        padding: 0 0px;
    }
    .content{ 
        padding: 0 14px;
        min-height: 280px;
    }
    .header{
        padding: 0 20px !important;
    }
    .menuIcon{
        font-size: 20px !important;
        color:white !important;
    }
    .drawer{ 
        position: absolute 
    }
}
